<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Epic Task - Form User</title>
<style type="text/css">
	span{ color: red}
</style>
</head>
<body>

	<h1>Epic Task</h1>
	<h2>Cadastrar Usuários</h2>
	
	<form action="/person" method="post" th:object="${person}">
		<label for="email">E-mail</label>
		<input name="email" id="email" th:field="*{email}">
		<span th:errors="*{email}"></span>
		
		<label for="pass">Senha</label>
		<input type="password" name="pass" id="pass" th:field="*{pass}">
		<span th:errors="*{pass}"></span>
		
		<a href="/person">Cancelar</a>
		<button>Salvar</button>
	
	</form>
	
	

</body>
</html>