<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	span{color: red}
</style>
</head>
<body>

<h1>Epic task</h1>

<h2>Cadsatrar tarefa</h2>

<!-- POST -->
<!-- No form quando não definimos o método, o padrão é get -->

<form action="/tasks" method="post" th:object="${task}">
	<label for="title">Título</label>
	<input name="title" id="title" th:field="*{title}" />
	<span th:errors="*{title}"></span>
	
	<label for="description">Descrição</label>
	<textarea name="description" id="description" rows="" cols="" th:field="*{description}"></textarea>
	<span th:errors="*{description}"></span>
	
	<label for="points">Pontos</label>
	<input type="range" name="points" id="points" min=10 max=500 th:field="*{points}" />
	<span th:errors="*{points}"></span>
	
	
	
	<a href="/tasks">Cancelar</a>
	<button>Salvar</button>
</form>
</body>
</html>